* {
	max-width: auto;
	padding: auto;
	box-sizing: border-box;
}

.jumbotron {
	margin-top: 60px;
}

.card-img-overlay {
	margin: 0;
}

.nav-link {
	color: white;
	background-color: blue;
}

.d-flex img {
	text-align: center;
}